h1 {
	color: #0b6a65;
}

.container {
	text-align: center;
}
.jumbotron.bg-color { 
	background-color: #f4f1f5;
	padding-top: 0;
}
.navbar.navbar-default.bg-color {
	background-color: #f4f1f5;
}
.btn.btn-primary.btn-lg.btn-cstm {
	background-color: #148c95;
	border-color: #08727a;
	line-height: 3.4;
	margin-right: 80px;
	height: 85px;
  	width: 300px;
}
.btn.btn-success.btn-lg.btn-cstm {
	background-color: #eeb53c;
	border-color: #e9a30e;
	line-height: 3.4;
	height: 85px;
  	width: 300px;
}
.leaders {
	width: 100%;
	height: auto;
	background-color: #c0ffee;
}
.leaderboard {
	margin: 0 auto;
	text-align: center;
}
.sitename {
	margin-top: 5px;
	display: inline-block;
	font-size: 26px;
	font-weight: bold;
	color: #e9541c;
}
.navbar-right {
	margin-top: 6px;
}
.log-in {
	background-color: #eeb53c;	
}
.sign-up {
	background-color: #148c95;
}
.alien {
	background: url(../images/alien.png) no-repeat;
	background-size: contain;
  	width: 300px;
  	height: 300px;
  	margin: 0 auto;
}