
h1 {
	color: #0b6a65;
}
.container {
	text-align: center;
}
.container h1 {
	display: inline-block;
}
.alien-container {
	vertical-align: middle;
	height: auto;
	padding-bottom: 20px;
	display: flex;
  	align-items: center;
}
.jumbotron.bg-color { 
	background-color: #f4f1f5;
	padding-top: 40px;
	width: 94%;
  	margin: 0 auto;
}
.navbar.navbar-default.bg-color {
	background-color: #f4f1f5;
}
.btn.btn-primary.btn-lg.btn-cstm {
	background-color: #148c95;
	border-color: #08727a;
	margin-right: 80px;
	height: 85px;
  	width: 300px;
  	line-height: 2.2;
	font-size: 28px;
	text-shadow: 1px 1px #000;
}
.btn.btn-primary.btn-lg.btn-cstm:hover {
	background-color: #08727a;
}

.btn.btn-success.btn-lg.btn-cstm {
	background-color: #eeb53c;
	border-color: #e9a30e;
	height: 85px;
  	width: 300px;
  	line-height: 2.2;
	font-size: 28px;
	text-shadow: 1px 1px #000;
}
.btn.btn-success.btn-lg.btn-cstm:hover {
	background-color: #e9a30e;
}
.sitename {
	margin-top: 5px;
	display: inline-block;
	font-size: 26px;
	font-weight: bold;
	color: #e9541c;
}
.navbar-right {
	margin-top: 6px;
}
.log-in {
	background-color: #eeb53c;	
}
.sign-up {
	background-color: #148c95;
}
.alien {
	background: url(../images/alien.png) no-repeat;
	background-size: contain;
  	width: 262px;
  	height: 300px;
  	padding: 10px;
  	margin-left: 26px;
  	display: inline-block;
}
.save {
	margin-left: 40px;
}
.learn {
	text-align: right;
}
.buttons {
	margin-top:35px;
}
/*---------------Cheatsheet-----------------*/

.codeimg {
	background: url(../images/MorseCode.png) no-repeat;
	background-size: contain;
	width: 350px;
	height: 452px;
	margin-left: 311px;
}



/*---------------Leaderboard-----------------*/

#leaderboard {
	width: 100%;
	height: auto;
/*	background-color: #c0ffee;
*/	text-align: center;
	padding-bottom: 100px;
}
.leaders {
	margin-top: 40px;
}
.leaders th {
	font-weight: bold;
}
.table.table-striped.board {
	width: 700px;
	margin:0 auto;
	text-align: left;
}