html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/*--------------------------------Beginning of code------------------------------------*/
#decode {
	background-color: #F4F1F5;
  	padding: 30px 0;
}
#decode {
	text-align: center;
  	font-weight: normal;
}
#morse {
	height: 100px;
	margin: 0 auto;
	font-size: 35px;
}
#morse-text {
	position: relative;
	font-family: monospace !important;
}
#display-morse {
	display: block;
	margin: 40px 20px;
	font-size: 40px;
	text-align: center;
}
#correct-text {
	display: block;
	margin: 0 auto;
	font-size: 40px;
	height: 70px;
	text-align: center;
	letter-spacing: 0.8em;
	font-family: monospace !important;
}
#decode-btns {
	text-align: center;
	margin-top: 30px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
textarea {
	display: block;
	margin: 0 auto;
	font-size: 50px;
	max-width: 700px;
	font-family: monospace !important;
}
#timer {
	display: block;
	text-align: center;
	margin-top: 30px;
}
button {
	display: block;
	margin: 20px 20px;
}

.typed {
	color: lime;
}
.btn.btn-default.btn-clr {
	width: 100px;
  	height: 50px;
  	margin-right: 20px;
  	font-size: 18px;
}
.btn.btn-default.btn-sbt:hover {
	background-color: #08727a;
}
.btn.btn-default.btn-sbt {
	background-color: #148C95;
	width: 100px;
  	height: 50px;
  	margin-right: 20px;
  	font-size: 18px;
  	color: #fff;
  	text-shadow: 1px 1px #000;
}
/*.untyped {
	color: red;
}*/